__pycache__/

.ipynb_checkpoints/

.vscode/

.idea/
*.iml

*.log
*.tmp
*.bak
*.swp
.DS_Store

/data/
!/data.dvc
!.dvc/
/results/
/models/*
!models/.gitkeep
/src/patchcore_inspection/models
.dvc/cache/
.dvc/tmp/
.dvc/plots/

.experiments/
experiments/

output/
outputs/
runs/
checkpoints/
